{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>


<h1 style="text-align: center;color: red; font-size: 60px;background-color: rebeccapurple">YGR ONLINE SALES</h1>

       <h5 align="right">{{ data }} <a class="nav-link" href="{% url 'logout' %}">Logout</a>
           </h5>
<table align="center" cellspacing="20" cellpadding="50" style="text-align: center">
    <tr>
        <th>
            <img src="{% static 'images/honor play.jpeg' %}" width="150" height="300">
            <br><br>
            <span>HONOR PLAY</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button>
        </th>
        <th><img src="{% static 'images/samsung galaxy9.jpeg' %}" width="150" height="300">
            <br><br>
            <span>SAMSUNG GALAXY 9</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button>
        </th>
        <th><img src="{% static 'images/nokia-7-1.jpeg' %}" width="150" height="300"><br><br>
            <span>NOKIA 7.1</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button> </th>
        <th><img src="{% static 'images/google pixcel.jpeg' %}" width="150" height="300"> <br><br>
            <span>GOOGLE PIXCEL</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button></th>
    </tr>
    <tr>
        <th><img src="{% static 'images/vivo z1.jpeg' %}" width="150" height="300"> <br><br>
            <span>VIVO Z1</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button></th>
        <th><img src="{% static 'images/realme5.jpeg' %}" width="150" height="300"> <br><br>
            <span>REAL ME 5</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button></th>
        <th><img src="{% static 'images/mi-redmi-note-7s.jpeg' %}" width="150" height="300"><br><br>
            <span>REDMI NOTE 7S</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button> </th>
        <th><img src="{% static 'images/iphone x.jpeg' %}" width="150" height="300"> <br><br>
            <span>IPHONE X</span>
            <br>
        <a href="">Add to Cart</a><br>
        <button type="submit">BUY</button></th>
    </tr>
</table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>